<div class="copyright-wrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="copyright-text">
          <p>Todos los derechos reservados por <a href="">Nickol Reyes y Lunas Merino.</a></p>
          <p xmlns:cc="http://creativecommons.org/ns#" >Este trabajo tiene la licencia <a href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser- v1" target="_blank" rel="licencia noopener noreferrer" style="display:inline-block;">CC BY-SA 4.0<img style="height:22px!important;margin-left:3px;vertical-align :texto inferior;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align :text bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align :text bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1" alt=""></a></p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="payment-method-img text-center text-md-right">
          <img src="/assets/images1/Cineforumlogo.png" alt="img" class="logo">
        </div>
      </div>
    </div>
  </div>
</div>
