<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>CineForum</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images1/favicon.png">
  <!-- CSS here -->
  <link rel="stylesheet" href="/assets/css1/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css1/animate.min.css">
  <link rel="stylesheet" href="/assets/css1/magnific-popup.css">
  <link rel="stylesheet" href="/assets/css1/fontawesome-all.min.css">
  <link rel="stylesheet" href="/assets/css1/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/css1/flaticon.css">
  <link rel="stylesheet" href="/assets/css1/odometer.css">
  <link rel="stylesheet" href="/assets/css1/aos.css">
  <link rel="stylesheet" href="/assets/css1/slick.css">
  <link rel="stylesheet" href="/assets/css1/default.css">
  <link rel="stylesheet" href="/assets/css1/style.css">
  <link rel="stylesheet" href="/assets/css1/responsive.css">
</head>

<body>
  <!-- header-area -->
  <header>
    <div id="sticky-header" class="menu-area transparent-header">
      <div class="container custom-container">
        <div class="row">
          <div class="col-12">
            <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
            <div class="menu-wrap">
              <nav class="menu-nav show">
                <div class="logo">
                  <a href="index.html">
                    <img src="/assets/images1/Cineforumlogo.png" alt="Logo" class="logo">
                  </a>
                </div>
                <div class="navbar-wrap main-menu d-none d-lg-flex">
                  <ul class="navigation">
                    <li class="active menu-item-has-children"><a [routerLink]="['home']">Inicio</a></li>
                    <li class="menu-item-has-children"><a [routerLink]="['movies']" >Películas</a></li>
                    <li class="menu-item-has-children"><a [routerLink]="['estrenos']">Estrenos 2024</a></li>
                    <li><a href="http://localhost:8000/support/ticket/new">Soporte</a></li>
                  </ul>
                </div>
                <div class="header-action d-none d-md-block">
                  <ul>
                    <li class="header-btn"><a href="http://localhost:8000/login" class="btn">Iniciar Sesión</a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <script src="script.js"></script>
</body>
</html>
